@import url('https://fonts.cdnfonts.com/css/motiva-sans');

*{margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 500px;
  font-style: normal;
  color: white;
}
.prompt-regjosh{
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.prompt-reg {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
}
.prompt-exb {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,1) 55%, rgba(77,0,0,1) 75%, rgba(104,0,0,1) 90%);
  background-repeat: no-repeat;
  background-color: black;
}

  .container {
    display: flex;          /* จัดวางแนวนอนให้อยู่ตรงกลาง */
    align-items: center;    /* จัดวางแนวตั้งให้อยู่ตรงกลาง */
    height: 100vh;          /* ให้ container เต็มความสูงของหน้าจอ */
    text-align: center;     /* จัดข้อความให้อยู่ตรงกลาง */
    flex-direction: column; /* จัดเรียงให้แนวตั้ง */
    color: #f9f9f9;
    gap: 30px;
  }

  .container h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 1000px;
    height: 700px;
    color: #2f2f2f;
    background-color: #ffffff;
    border-radius: 100px 10px 10px 100px;       /* เพิ่มความโค้งมน */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    display: flex;                              /* ใช้ Flexbox เพื่อจัดวางข้อความ */
    justify-content: space-between;             /* ข้อความอยู่ซ้าย-ขวา */
    align-items: center;                        /* จัดให้ข้อความอยู่กลางแนวตั้ง */
    padding: 10px 20px;
  }

  .card img{
    width: 25%;
    border-radius: 50%;
    margin-right: 20px;
  }

  .content {
    display: flex;   /* จัดวางให้เป็นสองฝั่ง */
    width: 100%;    /* ใช้พื้นที่ทั้งหมดของการ์ด */
    padding: 0px;
  }

  .content p{
    font-size: 25px;
    margin: 2.5px;
  }
  
  .content .duty p{
    margin: 0;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
  }

  .content .duty{
    color: #000000;
    background-color: #ffcc12;
    padding: 10px;
    width: 700px;
    border-radius: 100px;
    margin-top: 3px;
  }


  .Detail {
    display: flex;            /* ใช้ Flexbox เพื่อจัด layout */
    flex-direction: column;   /* จัดเรียงในแนวตั้ง */
    align-items: flex-start;  /* จัดข้อความให้เริ่มต้นที่ฝั่งซ้าย */
  }
  
  h2 {
    margin: 0; /* ลบ margin เริ่มต้นที่อาจทำให้ระยะห่างดูผิดปกติ */
  }
  
  .duty {
    margin: 0; /* ลบ margin เริ่มต้น */
    }
/* ฟอร์มทั้งหมด */
input[type=text],
select,textarea,
input[type=submit] {
  display: flex;
  width: 100%; /* ให้เต็ม container */
  padding: 10px 20px;
  margin-bottom: 16px; /* ระยะห่างระหว่างแต่ละอัน */
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #aaaaaa;
}
select {
  width: 100%;
}
/* ปุ่ม submit */
input[type=submit] {
  width:150px ; /* ปรับความกว้างของปุ่ม */
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  float: right;
}
/* container */
.Form_card {
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  color: #343434;
  text-align: left;
  width: 1000px; /* กำหนดความกว้างของฟอร์ม */
  margin: 0 auto; /* จัดฟอร์มให้อยู่กลางหน้า */
  margin-top: 100px;
}
.Form_text{
  text-align: center;
  padding: 20px;
}
.Form_text p{
  color: #aaaaaa;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 70px;
    width: 100%;
    height: 100px;
    margin-bottom: 140px;
}
.logo {
    display: flex;
    align-items: center;
    height: 90px;
}
.logo-img {
    object-fit: contain;
    width:300px;
    height: 300px;
    padding-right: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(77, 0, 0, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.top-navlinks {
  display: flex;
  list-style: none;
  gap: 0px;
  background: rgba(243, 241, 241, 0.05);
  padding: 15px 0px;
  border-radius: 12px;
}

.top-navlinks .nav-links{
  display: flex;
}

.top-navlinks .nav-link{
  display: flex;
  font-size: 16px;
}



.navbar a:hover
{
  background-color: #ffd92e;
  transform: scale(1.05);
  color: #000;
}

.nav-links,
.nav-link {
  text-decoration: none;
  color: #aaaaaa;
  text-align: center;
  background: transparent;
  border-radius: 12px;
  padding: 12px 20px;
  margin-left: 5px;
  margin-right: 60px;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
.topic {
  font-family: 'Inter';
  font-size: 64px;
  text-align: center;
}
#pageline {
  width: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  height: 6px;
  margin: 50px;
  margin-top: 70px;
  margin-bottom: 240px;
}
#bottompageline {
  width: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  height: 6px;
  margin: 50px;
  margin-top: 240px;
  margin-bottom: 70px;
}
.banner{
  margin-top: -120px;
  margin-bottom: 70px;
}


/*For Comments*/

.comments {
  width: 1000px; 
  margin: 20px 20px 20px 20px; 
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
  text-align: center;
  font-family: "Prompt", sans-serif;
}

.comments h2{
  font-family: "Prompt", sans-serif;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  text-align: left;
  margin: 10px;
}

.comment:last-child {
  border-bottom: none;
}

.comment h3 {
  margin: 0;
}

.rating {
  color: #FFA500;
}

#Bottom{
  width: 98%;
  border-radius: 12px;
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
  margin: 10px;
  font-size: 5px;
}

@media screen and (min-width:781px) and (max-width:1023px){
  .top-navlinks .nav-links{
    display: flex;
    font-size: 16px;
    padding: 12px 10px;
  }
  .top-navlinks .nav-link{
    display: flex;
    padding: 12px 10px;
    font-size: 10px;
  }
  .josefin{
    font-size: 25px;
  }
  .prompt-regjosh{
    font-size: 16px;
  }
  .container .prompt-exb{
    font-size: 40px;
  }
  .Detail .prompt-reg{
    font-size: 16px;
    font-weight: 400;
  }
  .banner img{
    width: 500px;
  }
  #pageline {
    margin-bottom: 100px;
  }
  .card {
    width: 700px;
    height: 200px;
  }
  .card img{
    width: 25%;
  }
  .content .duty {
    width: 100%;
  }
  .content .duty .prompt-reg{
    font-size: 16px;
    width: 100%;
  }
  .Form_card{
    width: 700px;
  }
  .Form_card .prompt-reg{
    font-size: 16px;
  }
  #bottompageline{
    margin-top: 100px;
  }
  .bottom-navlinks .nav-link{
    font-size: 14px;
  }

  .comments {
    width: 700px;
    margin: 10px;
    padding: 10px; 
  }

  .comment {
    padding: 6px 0;
  }

  .comments h2{
    font-size: 15px;
  }

  .comment h3 {
    font-size: 16px;
  }

  .rating {
    font-size: 12px; 
  }

  .comments h2{
    font-size: 20px;
  }
}

@media screen and (max-width:780px){
  .logo-img {
    width: 80px;
    height: 80px;
    padding: 0px;
  }
  .navbar{
    padding: 0px 10px;
  }
  .top-navlinks{
    padding: 0px;
    margin: 0px 0px 0px 10px;
  }
  .top-navlinks .nav-links{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-size: 12px;
    padding: 10px 12px;
    margin: 20px 10px;
  }
  .top-navlinks .nav-link{
    display: flex;
    font-size: 8px;
    padding: 10px 10px;
    margin: 20px 10px;
  }
  .josefin{
    font-size: 14px;
  }
  .prompt-regjosh{
    font-size: 10px;
  }
  .container .prompt-exb{
    font-size: 30px;
  }
  .Detail .prompt-reg{
    font-size: 8px;
    font-weight: 400;
    text-align: left;
  }
  .banner img{
    width: 300px;
  }
  #pageline {
    margin-bottom: 70px;
  }
  .card {
    width: 300px;
    height: 1000px;
  }
  .card img{
    display: flex;
    align-self: center;
    width: 40%;
  }
  .content .duty {
    width: 100%;
    padding: 5px;
  }
  .content .duty .prompt-reg{
    font-size: 6px;
    width: 100%;
  }
  .Form_card{
    width: 300px;
  }
  .Form_card .prompt-reg{
    font-size: 12px;
  }
  label{
    margin: 8px;
  }
  input[type=submit]{
    justify-self: center;
    align-items: center;
    margin: 20px 50px;
  }
  #bottompageline{
    margin-top: 70px;
  }


  .comments {
    width: 300px;
    margin: 20px; 
    padding: 10px;
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
  }

  .comment {
    padding: 6px 0; 
    font-size: 12px;
  }

  .comment h3 {
    font-size: 15px; 
  }

  .rating {
    font-size: 12px;
  }




  .comments h2{
    font-size: 20px;
  }
}
.slideInText {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0; /* เริ่มต้นที่โปร่งใส */
  transform: translateX(0); /* เริ่มจากด้านซ้าย */
  animation: slideIn 4s ease-out forwards;
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(0); 
  }
  100% {
      opacity: 1;
      transform: translateX(0); /* ข้อความเลื่อนเข้ามาที่ตำแหน่งปกติ */
  }
}
@keyframes appear {
  from {
      opacity: 0;
      scale: 0.5;
  }
  to {
      opacity: 1;
      scale: 1;
  }
}

section {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-bottom: 200px;

}
.title{
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
}
span{
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.group{
  margin-bottom: 2300px;
}