:root {
  --transition-time: 0.3s ease-in-out;
}
@import url('https://fonts.cdnfonts.com/css/motiva-sans');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 75%, rgba(77,0,0,1) 85%, rgba(104,0,0,1) 100%);
    background-repeat: no-repeat;
    background-color: black;
}

/* navbar navbar navbar navbar navbar navbar navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 70px;
    width: 100%;
    height: 100px;
    margin-bottom: 200px;
}
.logo {
    display: flex;
    align-items: center;
    height: 90px;
}
.logo-img {
    object-fit: contain;
    width:143px;
    height: 143px;
}
.navlinks {
  display: flex;
  text-decoration: none;
  list-style: none;
  background: rgb(223,223,223, 0.5);
  padding: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40px; 
  margin-top: 35px;
  margin-right: 2.5%;
  font-weight: bold;
  font-weight: 800;
  font-style: normal;
}
.nav-link1 {
text-decoration: none;
color:black;
text-align: center;
font-size: 20px;
background-color: #ffffff;
border-radius: 40px;
padding: 25px 35px 25px;
margin-left: 5px;
margin-right: 60px;
}
.nav-link2,.nav-link3 {
text-decoration: none;
color:black;
text-align: center;
font-size: 20px;
background-color: #ffffff;
border-radius: 40px;
padding: 25px;
margin: 5px;
white-space: nowrap;
}
.navbar a:hover {
  background-color: #ffffffcc;
}
/* navbar navbar navbar navbar navbar navbar navbar*/

.topic {
  font-family: 'Inter';
  font-size: 64px;
  text-align: center;
  color: #ffffff;
}
#pageline,#bottompageline {
  width: 90%;
  background-color: #ffffff;
  height: 6px;
  margin: 50px;
  margin-top: 70px;
  margin-bottom: 240px;
}
#bottompageline {
  margin-top: 240px;
  margin-bottom: 70px;
}

/* for box only for box only for box only for box only for box only for box only for box only */
/* for box only for box only for box only for box only for box only for box only for box only */
/* for box only for box only for box only for box only for box only for box only for box only */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.personInfoDisplaying
{
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  z-index: 2;
  width: 90%;
  height: fit-content;
  padding: 60px;
  margin: 5%;
  padding-bottom: 50px;
  margin-bottom: 5px;
  transition: transform var(--transition-time);
}
.personInfoDisplaying:hover {
  transform: translateY(-10px);
}
.person-profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
.person-profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #4F378A;
}
h3 {
  font-size: 25px;
}
.description {
  padding-left: 125px;
  padding-right: 90px;
  font-size: 23px;
  color: #555;
  line-height: 1.9;
  text-align: justify;
  width: 100%;
  word-wrap: break-word;
}
#person1paragraph,#person2paragraph,#person3paragraph,#person4paragraph,#person5paragraph,#person6paragraph,#person7paragraph{
  font-family: 'Kanit';
  white-space: pre-line;
}
.Pa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
  padding-top: 10px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

/* Please don't touch this */
.step {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
/*For a circle to truly embody its essence, what must it possess to attain such a distinction?*/
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid tomato; /* A customary crimson border to signify unfulfilled steps */
}
/*You see tha fancy red circle that jump around? here is the part*/
.circle.completed {
  background: tomato;
  color: white;
  border-color: tomato; /* Harmonizes with the hue of the fill */
}
/* For progress bar in the state of repose, feel free to tailor the progress bar to your liking. */
.step .progress {
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgb(194, 194, 194);
  z-index: -1;
}
/*For animation when progress bar changing in one state to the anther*/
.progress .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background: tomato;
  transition: width 0.3s ease;
}
/* Yes || change if you wish*/
.button-container {
  display: flex;
  gap: 150px;
}
/*Configuration of Buttons*/
.button-container button {
  padding: 17px 40px;
  margin-top: 25px;
  background: tomato;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color var(--transition-time), transform var(--transition-time);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.button-container button:hover {
  background: rgb(255, 91, 62);
  transform: translateY(-5px);
}
.button-container button:disabled {
  background: rgb(255, 143, 143);
  cursor: not-allowed;
}
/* for box only for box only for box only for box only for box only for box only for box only */
/* for box only for box only for box only for box only for box only for box only for box only */
/* for box only for box only for box only for box only for box only for box only for box only */

/* this is responsive  this is responsive this is responsive this is responsive this is responsive this is responsive this is responsive*/
@media screen and (min-width: 781px) and (max-width:1024px)
{
  .navlinks{
    padding: 20px 0px 20px 0px;
    margin: 10px 0px 0px 10px;
  }
  .nav-link1, .nav-link2, .nav-link3 {
    font-size: 16px;
    background-color: #ffffff;
    padding: 12px 12px;
    margin: 20px 10px;
  }
  .topic {
    font-size: 27px;
    margin-bottom: 30px;
  }
  #pageline, #bottompageline {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .personInfoDisplaying
  {
    width: 85%;
    padding: 60px;
    margin: 5%;
    padding-bottom: 50px;
    margin-bottom: 5px;
  }
  .person-profile {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  h3 {
    font-size: 18px;
  }
  .description {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }
  .Pa-container {
    width: 100%;
  }
  .button-container {
    gap: 70px;
  }
  .button-container button {
    padding: 10px 25px;
    font-size: 12px;
  }
  .circle {
    padding: 15px;
    height: 10px;
    width: 10px;
    font-size: 15px;
    border-radius: 50%;
  }
  .step .progress {
    height: 3.5px;
  }
}

@media screen and (max-width: 780px) {
  .navbar {
    margin-bottom: 100px;
  }
  .logo-img {
    width: 80px;
    height: 80px;
  }
  .navlinks{
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 0px 20px;
  }
  .nav-link1, .nav-link2, .nav-link3 {
    font-size: 13px;
    padding: 10px 12px;
    margin: 20px 10px;
  }
  .topic {
    font-size: 27px;
    margin-bottom: 30px;
  }
  #pageline, #bottompageline {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .personInfoDisplaying
  {
    width: 80%;
    padding: 60px;
    margin: 5%;
    padding-bottom: 50px;
    margin-bottom: 5px;
  }
  .person-profile {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  h3 {
    font-size: 18px;
  }
  .description {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }
  .Pa-container {
    width: 100%;
  }
  .button-container {
    gap: 70px;
  }
  .button-container button {
    padding: 10px 25px;
    font-size: 12px;
  }
  .circle {
    padding: 15px;
    height: 10px;
    width: 10px;
    font-size: 15px;
    border-radius: 50%;
  }
  .step .progress {
    height: 3.5px;
  }
}

@media screen and (max-width: 650px) {
  .logo-img {
    width: 80px;
    height: 80px;
  }
  .navlinks{
    padding: 10px 0px 15px 0px;
    margin: 0px 0px 0px 10px;
  }
  .nav-link1,.nav-link2,.nav-link3 {
    font-size: 11px;
    padding: 10px 12px;
    margin: 20px 10px;
  }
  .topic {
    font-size: 21px;
  }
  #pageline, #bottompageline {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .personInfoDisplaying
  {
    width: 75%;
    padding: 60px;
    margin: 5%;
    padding-bottom: 50px;
    margin-bottom: 5px;
  }
  .person-profile {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  h3 {
    font-size: 15px;
  }
  .description {
    padding: 10px;
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .logo-img {
    width: 70px;
    height: 70px;
  }
  .navlinks{
    padding: 5px 5px 10px 5px;
    margin: 0px 0px 0px 10px;
  }
  .nav-link1,.nav-link2,.nav-link3 {
    font-size: 8px;
    padding: 10px 12px;
    margin: 10px 5px;
  }
  .topic {
    font-size: 18px;
  }
  .personInfoDisplaying
  {
    width: 85%;
    padding: 60px;
    margin: 5%;
    padding-bottom: 50px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 13px;
  }
  .description {
    padding: 10px;
    font-size: 10px;
    text-align: center;
  }
  .person-profile img {
    width: 70px;
    height: 70px;
  }
  .button-container button {
    padding: 8px 25px;
    font-size: 10px;
  }
  .circle {
    padding: 13px;
    height: 6px;
    width: 6px;
    font-size: 12px;
  }
  .step .progress {
    height: 2px;
  }
}
@media screen and (max-width: 450px) {
  .logo-img {
    width: 70px;
    height: 70px;
  }
  .navlinks{
    padding: 3px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
  }
  .nav-link1,.nav-link2,.nav-link3 {
    font-size: 8px;
    padding: 8px 10px;
    margin: 0px 5px;
  }
  .person-profile img {
    width: 60px;
    height: 60px;
  }
  .button-container button {
    padding: 8px 25px;
    font-size: 10px;
  }
  .circle {
    padding: 7px;
    height: 5px;
    width: 5px;
    font-size: 6px;
  }
  .step .progress {
    height: 2px;
  }
}
@media screen and (min-width: 0px) and (max-width: 412px)
{
  .navbar {
    padding-top: 15px;
    flex-direction: column;
    gap: 15px;;
    margin-bottom: 200px;
  }
  .logo-img {
    width: 120px;
    height: 120px;
  }
  .navlinks{
    padding: 5px 5px 10px 5px;
    align-self: center;
    gap: 10px;
    margin: 0px 0px 0px 10px;
  }
  .nav-link1,.nav-link2,.nav-link3 {
    font-size: 7px;
    padding: 8px 10px;
    margin: 0px 0px;
  }
  .person-profile img {
    width: 55px;
    height: 55px;
  }
  .personInfoDisplaying
  {
    max-width: 85%;
    min-width: 10%;
    padding: 60px;
    margin: 5%;
    padding-bottom: 50px;
    margin-bottom: 5px;
  }
  .description {
    font-size: 8px;
  }
  .circle {
    padding: 10px;
    height: 5px;
    width: 5px;
    font-size: 8px;
  }
  .step .progress {
    height: 2px;
  }
  .button-container {
    gap: 40px;
  }
  .button-container button {
    padding: 5px 20px;
    font-size: 7px;
  }
}
/* this is responsive  this is responsive this is responsive this is responsive this is responsive this is responsive this is responsive*/